<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page CSS Grid</title>
    <!-- <link rel="stylesheet" href="estilos.css" /> -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Urbanist", sans-serif;
      }

      .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
      }

      .hero {
        background-image: linear-gradient(
          to top,
          #1e3c72 0%,
          #1e3c72 1%,
          #2a5298 100%
        );
        color: #fff;
        display: grid;
        grid-template-rows: max-content 1fr;
        grid-template-areas:
          "nav"
          "content";
        min-height: 100vh;
      }

      .nav {
        grid-area: nav;
        display: grid;
        justify-content: space-between;
        grid-auto-flow: column;
        gap: 1em;
        align-items: center;
        height: 90px;
      }

      .nav__list {
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
      }

      .nav__link {
        color: #fff;
        text-decoration: none;
      }

      .nav__logo {
        font-size: 1.8rem;
        font-weight: 300;
      }

      .nav__menu {
        display: none;
      }

      .nav__icon {
        width: 30px;
      }

      /* Hero main */

      .hero__main {
        grid-area: content;
        display: grid;
        gap: 2em;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        grid-template-columns: 1fr 1fr;
        padding-bottom: 180px;
        align-items: center;
      }

      .hero__waves {
        grid-area: content;
        align-self: end;
      }

      .hero__title {
        font-size: 2.6rem;
        letter-spacing: 2px;
      }

      .hero__subtitle {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        font-weight: 300;
      }

      .hero__cta {
        text-decoration: none;
        color: #fff;
        padding: 15px 60px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
        transition: background-color 0.3s;
      }

      .hero__cta:hover {
        background-color: #fff;
        color: #1e3c72;
      }

      .hero__img {
        width: 100%;
      }

      .modal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111111bd;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s 0.9s;
        --transform: translateY(-100vh);
        --transition: transform 0.8s;
      }

      .modal--show {
        opacity: 1;
        pointer-events: unset;
        transition: opacity 0.6s;
        --transform: translateY(0);
        --transition: transform 0.8s 0.8s;
      }

      .modal__container {
        margin: auto;
        width: 90%;
        max-height: 90%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 6px;
        padding: 3em 2.5em;
        text-align: center;
        display: grid;
        place-items: center;
        grid-auto-columns: 100%;
        gap: 1em;
        position: relative;
        transform: var(--transform);
        transition: var(--transition);
      }

      .modal__title {
        font-size: 2.5rem;
      }

      .modal__paragraph {
        margin-bottom: 10px;
      }

      .modal__img {
        width: 90%;
        max-width: 300px;
        display: block;
      }

      .modal__close {
        text-decoration: none;
        color: #fff;
        padding: 15px 50px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;

        background-color: #f26250;
        transition: background-color 0.3s;
      }

      .modal__close:hover {
        background-color: #fff;
        color: #f26250;
      }

      @media (max-width: 800px) {
        .nav__list {
          display: none;
        }

        .nav__menu {
          display: block;
        }

        .hero__main {
          grid-template-columns: 1fr;
          grid-template-rows: max-content max-content;
          text-align: center;
        }

        .hero__picture {
          grid-row: 1/2;
        }

        .hero__img {
          max-width: 500px;
          display: block;
          margin: 0 auto;
        }

        .modal__container {
          padding: 2em 1.5em;
        }

        .modal__title {
          font-size: 2rem;
        }
      }
    </style>
  </head>
  <body>
    <header class="hero">
      <nav class="nav container">
        <!-- <h2 class="nav__logo">Jordan Alex.</h2>

        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Inicio</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Acerca de</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contacto</a></li>
        </ul> -->

        <!-- <figure class="nav__menu">
          <img src="/menu.svg" class="nav__icon" />
        </figure> -->
      </nav>

      <section class="hero__main container">
        <div class="hero__texts">
          <h1 class="hero__title">Hello!, My name is Jordan</h1>
          <p class="hero__subtitle">
            Let me hep you grow your business with CSS Grid
          </p>
          <a href="#" class="hero__cta">Join us!</a>
        </div>

        <figure class="hero__picture">
          <img src="/illustration.svg" class="hero__img" />
        </figure>
      </section>

      <div style="height: 150px; overflow: hidden;" class="hero__waves">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%;"
          ><path
            d="M0.00,49.99 C262.08,217.40 378.89,-120.09 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;"></path></svg
        >
      </div>
    </header>

    <section class="modal">
      <div class="modal__container">
        <img src="/success.svg" class="modal__img" />
        <h2 class="modal__title">¡Bienvenido al sitio!</h2>
        <p class="modal__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
          saepe minima excepturi in. Veniam voluptates sint suscipit cum,
          aliquam sapiente! Voluptas obcaecati atque aliquam veritatis.
        </p>
        <a href="#" class="modal__close">Cerrar modal</a>
      </div>
    </section>

    <!-- <script src="js/modal.js"></script> -->
    <script>
      const closeModal = document.querySelector(".modal__close");
      const openModal = document.querySelector(".hero__cta");
      const modal = document.querySelector(".modal");

      openModal.addEventListener("click", (e) => {
        e.preventDefault();
        modal.classList.add("modal--show");
      });

      closeModal.addEventListener("click", (e) => {
        e.preventDefault();
        modal.classList.remove("modal--show");
      });
    </script>
  </body>
</html>
